body{
	border: solid 20px #ff9999;
	
}
.top{
	width: 100%;
	background-color: #ffcccc;
	padding: 2%;
	box-sizing: border-box;

}
#contenedor0{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#logo{
	height: 50px;
	width: 30%;
	height: 18%;
	padding-right: 30px;
	padding-left: 5%;
}

#logo img{
	margin: 5%;
	height: 100%;
}

#contenedor1{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	justify-content: space-around;
	margin: 0;
	padding:10px;
	height: 20%;
	padding-right: 50px;
}

#barraBusqueda{
	width: 40%;
	height: 25px;
	border: solid 2px #ff6699;
	border-radius: 20%;
	margin: 2%;
	margin-right: 0;
}

#menu{
	width: 100%;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	color: #ff6699;
	font-family: 'Arial', sans-serif;
	list-style-type: none;
}

#contenedor3{
	margin: 5%;
	width: 90%;
	height: 70%;
	margin-top:8%;
	margin-bottom: 10%;
	background-color: #ffcccc;
	display: flex;
	flex-direction: row;

}

.inner{
	width: 50%;
	height: 70%;
	margin:0;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 40px;
	color: #ff6699;
	margin-bottom: 10%;
}

.inner div{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
#title{
	font-weight: bold;
	width: 100%;
	padding: 5%;
	font-family: Lucida,sans-serif; 
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;

}

#contenedorBanner{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 96%;
	height: 20%;
	padding-right: 2%;
	padding-left: 2%;

}

.banner{
	width: 130px;
	height: 20px;
	background-color: #ffcccc;
	color: #ff6699;
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	padding: 7%;
	margin:0;
	display: flex;

}

#contenedor4{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 92%;
	height: 50%;
	margin: 4%;
	padding: 0;
	padding-top: 4%;

}

#productos{
	width: 92%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.foto{

	width: 10px;
	height: 10px;
	background-color: #ffcccc;
	color: #ff6699;
	padding:40%;
	margin: 2%;

	margin-bottom: 10%;
}
#titulo2{
	width: 92%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 2%;
	padding:0;
	font-family: 'arial', sans-serif;
	margin: 0;
	font-size: 30px;
	color: #ff6699;
	padding-bottom: 5%;
}

.contenedorProducto{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-between;
	margin: 5%;
	height: 50px;
}

.product{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;

}

.description{
	width: 70%;
	color: #ff6699;
	font-family: Arial, sans-serif;
	font-size: 10px;
	height: 30px;

}
.precios{

	color: #df074f;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;

}

.button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	color: whitesmoke;
	background-color: #f13876ea;
	margin: 2%;
	height: 30%;
	padding: 3%;
	width: 60%;
	padding-top: 7%;
	margin-top: 20%;
	margin-bottom: 30%;
	padding-bottom: 7%;
	margin-right: 10%;
	margin-left: 10%; 
}

.inner div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

}

.granDiv{
	margin: 2%;
}

#viewAll{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-items: center;
	margin-top: 5%;
	margin-bottom: 8%;

}

#viewAll div {
	color: #ff9999;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
}

.footer{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color:  #ffcccc;
	height: 40%;
}

#footer1{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 3%;
}

.lista{
	font-size: 20px;
	font-weight: bold;
	color: #ff6699;
	font-family: 'Arial', sans-serif;
	margin: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3%;
	width: 30%;
	



	
}

.lista ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	color: #ff6699;
	font-family: 'Arial', sans-serif;
	list-style-type: none;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding:0;
}

.lista ul li{
	padding-top: 10px;
}

#mail{
	border: #df074f 1px solid;
	background-color: #f7dfdf;
	height: 20px;

}

.button2{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	color: whitesmoke;
	background-color: #f13876ea;
	height: 10%;
	width: 60%;
}

.img
{
	height: 20px;
	padding: 10px;
}
#follow{
	padding: 5%;
}

.social
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#cuadrado{
	height: 70px;
	width: 200px;
	background-color: #ff6699;
}
.cuadradito{
	height: 20px;
	width: 30px;
	background-color: #ff6699

}

#contenedor5{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}